@media (max-width: 1000px) {
    /* Navbar */
    .nav-item .active_1 {
        color: rgb(255, 0, 0);

    }

    .bodyweb {
        top: 0;
    }

    .navbarr {
        flex-direction: column;
        /* position: fixed; */
        font-size: 28px;
        /* width: 100%; */
        /* top: 0; */
        /* height: 150px; */
        display: inline-block;
        /* background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,38,146,1) 71%, rgba(4,82,245,1) 100%); */

    }
    /* .logo {
        position: fixed;
        display: flex;
        margin-top: 80px;
        padding-top: 80px;
        margin: 80px 0;
    } */


    /* items */
    .container .infor .items_res .item_col1 {
        display: inline-block;
        width: 450px;
    }

    .container .infor .items_res .item_col2 {
        display: inline-block;
        width: 450px;
        margin-top: 50px;
    }


}

@media (max-width: 500px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* .container {
        margin-top: -50px;
    } */

    .container .infor .items_res .item_col1 {
        width: 350px;
        height: 150px;
    }

    .container .infor .items_res .item_col2 {
        width: 350px;
        height: 150px;
    }

    /* .logo {
        margin-right: 30px;
    } */

    /* .navbar-toggler {
        left: 0;
        margin-left: 50px;
        right: 0;
    } */

    /* .navbar-toggler {
        right: 0;

    } */

    /* .navbarr {
        display: none;
        position: fixed;

    } */

    /* .infor {
        padding-top: 200px;
    } */


}

@media (max-width: 432px) {
    .navbar-toggler {
        /* left: 0; */
        margin-left: 200px;
        /* right: 0; */
    }

}

@media (max-width: 320px) {
    .container .infor .items_res .item_col1 {
        width: 290px;
        height: 150px;
    }

    .container .infor .items_res .item_col2 {
        width: 290px;
        height: 150px;
    }

    .navbar-toggler {
        /* left: 0; */
        margin-left: 100px;
        /* right: 0; */
    }

}

