@media (max-width: 1000px) {
    /* Navbar */
    .nav-item .active_1 {
        color: rgb(255, 0, 0);

    }

    .bodyweb {
        top: 0;
    }

    .navbarr {
        flex-direction: column;
        /* position: fixed; */
        font-size: 28px;
        /* width: 100%; */
        /* top: 0; */
        /* height: 150px; */
        display: inline-block;
        /* background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,38,146,1) 71%, rgba(4,82,245,1) 100%); */

    }
    /* .logo {
        position: fixed;
        display: flex;
        margin-top: 80px;
        padding-top: 80px;
        margin: 80px 0;
    } */


    /* items */
     .infor .items_res .item_col1 {
        display: inline-block;
        width: 450px;
    }

     .infor .items_res .item_col2 {
        display: inline-block;
        width: 450px;
        margin-top: 50px;
    }


}

@media (max-width: 500px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* .container {
        margin-top: -50px;
    } */
    /*  about informaiton */
    .about_animation_name {
    /* color: white; */
    padding: 20px 0;
    }
    .about_animation_name p {
    font-weight: 700;
    font-size: 20px;
    color: rgb(70, 143, 244);
    }
    .about_animation_name p span {
    font-size: 25px;
    font-weight: 700;
    color: rgb(70, 252, 176);
    }

    .infor .items_res .item_col1 {
        width: 350px;
        height: 150px;
    }

    .infor .items_res .item_col2 {
        width: 350px;
        height: 150px;
    }

    .content_skill span{
        font-size: 16px;
    }
    .list .item img {
        height: 50px;
    }

    .list {
        
        animation: slide 60s infinite linear;
    }    

    #backToTop {
        bottom: 10px; /* Place the button at the bottom of the page */
        right: 10px; /* Place the button 30px from the right */    
        padding: 10px; /* Some padding */
        
    }

    @keyframes slide {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateX(-100%);
        }
    }


}




@media (max-width: 320px) {
     .infor .items_res .item_col1 {
        width: 290px;
        height: 150px;
    }

     .infor .items_res .item_col2 {
        width: 290px;
        height: 150px;
    }

    

}

